@import '../../styles/mixins';

.btn {
	background-color: var(--purple);
	text-transform: capitalize;
	padding: 12px 16px;
	border: none;
	outline: none;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s all ease;
	width: fit-content;
	@include border;
	@include focusButton;
}

.outline {
	background: none;
	outline: 1px solid var(--purple);
	color: var(--purple);
	@include focusOutlinedButton;
}
