//@import url('https://cloud.ru/fonts/sb-sans-interface/SBSansInterface-Regular.woff2');
:root {
	--purple: #5558fa;
	--grey: #cccccc;
	--white: #fff;
	--dark: #333;
}
@font-face {
	font-family: 'SB Sans Interface';
	src: url('./fonts/SBSansInterface-Regular.woff2');
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
}

html {
	color-scheme: dark light;
}

body {
	background: #f4f4f5;
	font-family: 'SB Sans Interface';
	min-height: 100vh;
}

img,
picture,
video,
svg {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
}
